#view-user-container {
    /*border: 1px solid red;*/
    padding: 10px;
}

/* Profile Tab */
#profile-data-list {
    list-style-type: none;
    width: 100%;
    /*border: 1px solid green;*/
    margin: 10px 0 0 0;
    padding: 0;
}

#profile-data-list > li {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /*padding: 5px;*/
    /*background: #2e333b;*/
    border-bottom: 1px solid silver;
    color: #2e333b;
}

#profile-data-list > li:last-child {
    border: none;
}

#profile-data-list > li > p {
    display: inline-block;
    padding: 5px;
    font-size: 15px;
}

.field-name-box {
    padding: 5px;
    display: inline-block;
    width: 130px;
    /*border: 1px solid red;*/
    vertical-align: top;
    background: #2e333b;
}

.field-name {
    /*width: 130px;*/
    font-weight: bold;
    padding: 0;
    margin: 0;
    /*border: 1px solid blue;*/
    color: #fff;
}

.field-value-box {
    /*border: 1px solid red;*/
    display: inline-block;
    padding: 5px;
    width: calc(100% - 100px);
}

.field-value {
    /*font-family: 'Roboto Condensed';*/
    color: #222;
    /*border: 1px solid red;*/
    margin: 0;
}

#user-signature {
    /*border: 1px solid red;*/
    max-width: 100%;
}

#user-image {
    width: 150px;
}

/* Friends Tab */
#friends-div {
    /*border: 1px solid red;*/
}

#friends-list {
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
    /*border: 1px solid red;*/
}

#friends-list > li {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid silver;
}

#friends-list > li:last-child {
    border: none;
}

#friends-list > li > a >img {
    width: 100px;
}

.user-username {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Josefin Sans';
    /*border: 1px solid red;*/
}

/* Ranks Tab */
#ranks-table {
    margin: 10px 0 0 0;
}

.main-rank-yes {
    color: #2ca02c;
}

.main-rank-no {
    color: red;
}