#view-user-container {
    /*border: 1px solid red;*/
    padding: 10px;
}

/* Profile Tab */
#profile-data-list {
    list-style-type: none;
    width: 100%;
    /*border: 1px solid green;*/
    margin: 10px 0 0 0;
    padding: 0;
}

#profile-data-list > li {
    width: 100%;
    /*border: 1px solid red;*/
    box-sizing: border-box;
    margin: 0;
    border-bottom: 1px solid silver;
    /*padding: 5px;*/
    background: #EEEEEE;
}

#profile-data-list > li:last-child {
    border: none;
}

#profile-data-list > li > p {
    display: inline-block;
    padding: 5px;
    font-size: 15px;
}

.field-name {
    width: 130px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    /*border: 1px solid blue;*/
    background: #222;
    color: #fff;
}

.field-value {
    /*font-family: 'Roboto Condensed';*/
    color: #222;
    /*border: 1px solid red;*/
    margin: 0;
}

/* Friends Tab */
#friends-div {
    /*border: 1px solid red;*/
}

#friends-list {
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
    /*border: 1px solid red;*/
}

#friends-list > li {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid silver;
}

#friends-list > li:last-child {
    border: none;
}

#friends-list > li > a >img {
    width: 100px;
}

.user-username {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Josefin Sans';
    /*border: 1px solid red;*/
}

/* PM Tab */
#pm-list {
    margin: 10px 0 0 0;
}

#pm-list > li {
    padding: 10px 10px 3px 10px;
}

#pm-list > li > p {
    display: inline-block;
    width: 35%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
    /*border: 1px solid red;*/
}

#pm-list > li > a {
    /*border: 1px solid red;*/
    display: inline-block;
    margin: 0;
    padding: 0;
    float: right;
}

#pm-list > li > a > i {
    font-size: 20px;
    margin-left: 10px;
}

.view-pm {
    color: #0288D1;
}

#delete-pm-button {
    cursor: pointer;
}

.delete-pm {
    color: red
}

/* Group Tab */
#group-container > h4 {
    margin: 20px 0 0 0;
    background: #EEEEEE;
    padding: 10px;
    color: #222;
    border-radius: 2px;
    font-family: 'Josefin Sans';
}

/* Ranks Tab */
#ranks-table {
    margin: 10px 0 0 0;
}

.main-rank-yes {
    color: #2ca02c;
}

.main-rank-no {
    color: red;
}