#account-container {
    margin: 70px auto;
    width: 90%;
    /*border: 1px solid red;*/
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /*-webkit-align-items: center;*/
    /*align-items: center;*/
    -webkit-justify-content: center;
    justify-content: center;
    /* You can set flex-wrap and flex-direction individually */
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    /* Or do it all in one line with flex flow */
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    /*border: 1px solid red;*/
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .35);
    background-color: #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#profile-picture-section {
    width: 20%;
    /*border: 1px solid red;*/
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
}

#rank-image {
    margin: 0 0 10px 0;
}

#change-profile-picture {
    border-radius: 2px;
    color: #fff;
    background: #0288D1;
    padding: 10px;
    margin: 0 0 0 0;
    border: 1px solid #0288D1;
    width: 200px;
}

#change-profile-picture:hover {
    background: #fff;
    color: #0288D1;
}

#profile-picture {
    width: 200px;
    margin: 0 0 5px 0;
}

#account-details-section {
    width: 80%;
    /*border: 1px solid blue;*/
    box-sizing: border-box;
    padding: 0 0 20px 0;
    background: #fff;
}

#username-div {
    width: 100%;
    height: auto;
    /*border: 1px solid red;*/
    margin: 0 0 15px 0;
    padding: 10px;
    background: #0288D1;
}

#username {
    margin: 4px 0 0 0;
    font-family: 'Days One';
    color: #fff;
    display: inline-block;
    /*border: 1px solid blue;*/
}

#edit-profile-button {
    padding: 5px;
    background: #fff;
    color: #0288D1;
    border: none;
    border-radius: 2px;
}


#profile-div {
    /*border: 1px solid red;*/
    margin: 20px 0 0 0;
}

.info-list {
    list-style-type: none;
    width: 100%;
    /*border: 1px solid green;*/
    margin: 0;
    padding: 0;
}

.info-list > li {
    width: 100%;
    /*border: 1px solid red;*/
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border-bottom: 1px dashed silver;
    padding: 5px;
}

.info-list > li:last-child {
    border: none;
}

.info-list > li > p {
    display: inline-block;
}

.field-name {
    width: 160px;
    font-weight: bold;
    color: #0288D1;
    font-size: 18px;
    padding: 0;
    margin: 0;
    /*border: 1px solid blue;*/
}

.field-value {
    /*font-family: 'Roboto Condensed';*/
    font-size: 17px;
    color: #666666;
    /*border: 1px solid red;*/
    margin: 0;
    padding: 0;
}

/* Friends */
#friends-div {
    /*border: 1px solid red;*/
}

#flex-friends {
    /*border: 1px solid red;*/
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /*-webkit-align-items: center;*/
    /*align-items: center;*/
    -webkit-justify-content: center;
    justify-content: center;
    /* You can set flex-wrap and flex-direction individually */
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    /* Or do it all in one line with flex flow */
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    /*border: 1px solid red;*/
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.friends-picture-div {
    flex: 0 0 100px;
    /*border: 1px solid red;*/
    margin: 10px;
    box-shadow: 0 1px 4px 2px rgba(0, 0, 0, .35);
}

.friends-picture-div > img {
    width: 100%;
}

/* Contact */
#contact-div {
    margin: 20px 0 0 0;
}

.facebook-twitter {
    height: 30px;
    margin: 5px 0 0 0;
}

.media-logos {
    height: 30px;
    /*border: 1px solid red;*/
    margin: 0 20px 0 0;
}

/* Responsive Design */
@media screen and (max-width: 1240px) {
    #profile-picture-section {
        width: 30%;
    }

    #account-details-section {
        width: 70%;
    }
}

@media screen and (max-width: 800px) {
    #profile-picture-section {
        width: 100%;
    }

    #account-details-section {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    #cover {
        height: 150px;
    }

    #profile-picture {
        top: 80px;
    }
}

