#view-pm-container {
    background: #fff;
    width: 95%;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .5);
    padding: 0;
    margin: 70px auto;
    margin-bottom: 20px;
}

#pm-list {
    list-style-type: none;
    /*border: 1px solid red;*/
    /*padding: 10px*/
}

#pm-list > li {
    /*border: 1px solid red;*/
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /*padding: 5px;*/
    /*background: #2e333b;*/
    border-bottom: 1px solid silver;
    color: #2e333b;
}

#pm-list > li:last-child {
    border: none;
}

.pm-field-name-box {
    padding: 5px;
    display: inline-block;
    width: 90px;
    /*border: 1px solid red;*/
    vertical-align: top;
    background: #2e333b;
}

.pm-field-name {
    /*border: 1px solid red;*/
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    /*width: 85px;*/
}

.pm-field-value-box {
    /*border: 1px solid red;*/
    display: inline-block;
    padding: 5px;
    width: calc(100% - 100px);
}

.pm-field-value {
    /*border: 1px solid red;*/
    margin-top: 2px;
    display: inline-block;
    font-size: 16px;
}

.pm-user-image {
    width: 150px;
}

.pm-user-info-box {
    display: inline-block;
    /*border: 1px solid red;*/
    vertical-align: top;
}

.pm-username {
    display: block;
    /*border: 1px solid red;*/
    margin-left: 5px;
    font-size: 16px;
}

/* Send Reply */
#send-reply-box, #delete-pm-box {
    /*border: 1px solid red;*/
    background: #2e333b;
    padding: 10px;
    position: relative;
    height: 50px;
}

#send-reply-button, #delete-pm-button {
    display: inline-block;
    color: #fff;
    background: #0288D1;
    padding: 5px 20px 5px 20px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 9px;
    cursor: pointer;
}

#send-reply-button:hover, #delete-pm-button:hover {
    background: #0277BD;
}